@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(https://cdn.getvisa.vn/images/background.jpg) fixed 50%;
}

p {
    margin: 0.5rem 0;
}

.ant-btn-primary {
    background-color: #1677ff;
}

.line-clamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.counts .count-box {
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
}

.counts .count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 700;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.shadow {
    box-shadow: 0 0 30px rgba(1, 41, 111, .0784313725490196);
}

.image-central img {
    display: initial;
}
